/*global rules*/
/*custom font for text*/
@import url(http://fonts.googleapis.com/css?family=Nunito);

*{
	margin: 0;
	padding: 0;
}


body{
	padding: 0px;
	margin: 0px;
	background: rgb(26,27,31);
	font-family: Nunito, arial, verdana;
}


/* Divide page horizontally. Use these to break-up content, either in main-wrapper, or to break-up divs. */ 
.grid-section{
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}
/*Clearfix hack for keeping content designated to grid-section stays in it's grid-section */
.grid-section:before, 
.grid-section:after {
	content: "";
	display: table;
	clear: both;
}
/* Divides page vertically. These are the columns. Each has a left margin of 1.6% ( around 20 pixels on a normal monitor ), except the first column. 
Using .cell:first-child { margin: 0; } means we don't need to use a class="last" on every single column. */
[class*='cell-']{
	display: block;
	float: left;
	margin: 1% 0 1% 2%;
	width: 16.66%;
}

[class*='cell-']:first-child{
   margin-left: 0;
}


/*float classes*/
.pull-right{
	float: right;
}

.pull-left{
	float: left;
}




/* 6 column grid width percentages // subtracting 1.6% gutter width from each column-width percentage */
.cell-1{ width: 15.06% }
.cell-2{ width: 31.6% }
.cell-3{ width: 48.2% }
.cell-4{ width: 64.8% }
.cell-5{ width: 81.4% }
.cell-6{ width: 100% }



/* main - rules */
div.logo{
	margin-left: 15%;
}

nav ul{
    padding: 0;
    list-style-type: none;

}

nav.global ul li{
	float: left;


}

nav.global ul li a{
	display: block;
	/*width: 50px;*/
	text-decoration: none;
}

nav.global:before, 
nav.global:after {
	content: "";
	display: table;
	clear: both;
}

/* accordion rules */
#accordion {
	background: #004050;
	margin: 15px auto 0 auto;
	color: white;
	/*Some cool shadow and glow effect*/
	box-shadow: 
		0 5px 15px 1px rgba(0, 0, 0, 0.6), 
		0 0 200px 1px rgba(255, 255, 255, 0.5);
}

/*heading styles*/
#accordion h3 {
	font-size: 12px;
	line-height: 34px;
	padding: 0 10px;
	cursor: pointer;
	/*fallback for browsers not supporting gradients*/
	background: #003040; 
	background: linear-gradient(#2A2B2E, #1A1B1F);
}

/*heading hover effect*/
#accordion h3:hover {
	text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
}
/*iconfont styles*/
#accordion h3 span {
	font-size: 16px;
	margin-right: 10px;
}
/*list items*/
#accordion li {
	list-style-type: none;
}
/*links*/
#accordion ul ul li a {
	color: white;
	text-decoration: none;
	font-size: 11px;
	line-height: 27px;
	display: block;
	padding: 0 15px;
	/*transition for smooth hover animation*/
	transition: all 0.15s;
}

/*hover effect on links*/
#accordion ul ul li a:hover {
	background: #003545;
	border-left: 5px solid lightgreen;
}
/*Lets hide the non active LIs by default*/
#accordion ul ul {
	display: none;
}
#accordion li.active ul {
	display: block;
}

/* content div rules */
div#content{
	background-color: rgb(255,255,255);
	margin: 0px;
	padding: 20px;
}

div#grid{
	margin: 0px;
}

